@import 'main.css';

.col-md-2 {
  height: 50%;
}

.imgs {
  margin-right: 20px;
  margin-top: 15px;
}

footer .col-md-12 {
  text-align: center;
}

ul[class="menulist"] li {
  line-height: 2em;
}

.underline {
  border-top: 1px solid #000;
  margin-left: 15px;
}

.lists {
  font-size: 10px;
}

.alink a {
  font-weight: bold;
  color: #000;
  text-decoration: underline;
}

.alink a:hover {
  font-weight: 400;
  font-size: 80%;
  color: #923530;
}
